<!DOCTYPE html>
<html>
<head>
  <title>Edit Subject</title>
</head>
<body>

<h2>Edit Subject</h2>

<form action="/subjects/<%= subject._id %>?_method=PUT" method="POST">

  <input name="subject[subjectName]" value="<%= subject.subjectName %>">
  <input name="subject[subjectCode]" value="<%= subject.subjectCode %>">
  <input name="subject[department]" value="<%= subject.department %>">
  <input name="subject[assignedTeacher]" value="<%= subject.assignedTeacher %>">

  <button>Update Subject</button>

</form>

</body>
</html>